body{
    margin: auto;
    font-family: Arial;
}

nav{
    margin-bottom: 20px;
    margin-top: 20px;
}

nav a{
    font-weight: bold;
    font-size: large;
    color: mediumblue;
    margin-right: 20px;
}

div#wrapper{
    margin: auto;
    width: 1050px;
    background-color: rgb(252, 235, 235);
    padding: 20px;
}

section.apple, section.visuals{
    width: 50%;
    float: left;
    padding: 15px;
}

section.visuals{
    text-align: right;

}

*{
    box-sizing: border-box;
}

img.apple{
    width: 497px;
}

img.visuals{
    width: 100px;
    margin-bottom: 12px;
}

article{
    display: inline-block;
    width: 33%;
    padding-right: 10px;
    vertical-align: top;
}

article:last-child{
    padding-right: 0px;
}

img.book{
    padding-top: 15px;
}

img.football{
    margin-top: 15px;
    margin-bottom: 15px;
}

footer{
    background-color: #858587;
    height: 200px;
    width: 1050px;
    margin: auto;

}

tekst{
    margin: 15px;
}